.App {
  text-align: center;
  font-family: "Teko", sans-serif;
}

.App-logo {
  width:100px;
  height:50px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

h1 {
  margin-top:80px;
  font-size:50px;
}

@media (min-width: 768px) {
  #account-short {
        
    border-radius: 30px;
    padding: 10px;
    color: black;
    background-color: #D84341;
    display:block;
    margin-right:5px;
    font-family: "Teko", sans-serif;
    width:255px;
    font-size:17px;
    box-shadow: 1px 4px 5px #D84341;
    display:none;
  }

  #account {
    border-radius: 30px;
    padding: 10px;
    color: black;
    background-color: #D84341;
    margin-right:5px;
    font-family: "Teko", sans-serif;
    width:255px;
    font-size:17px;
    box-shadow: 1px 4px 5px #D84341;
    display:block;
  }

  .nav-button {
    display:inline-block;
    padding:6px;
    margin:0 0.3em 0.3em 0;
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    font-size:22px;
    width:150px;
    color:black;
    box-shadow: 1px 4px 5px #D84341;
    background-color:#D84341;
    text-align:center;
    transition: all 0.2s;
    font-family: "Teko", sans-serif;
  
  }
  .purchase {
    width: 50%;
    border: none;
    font-size:27px;
    padding:4px;
    border-radius:10px;
    margin-bottom:10px;
    transition: all 0.2s;
  }
  
  .purchase-disabled {
    width: 50%;
    padding:4px;
    border: none;
    font-size:27px;
    border-radius:10px;
    transition: all 0.2s;
    margin-bottom:10px;
  }
  
  .purchase:hover {
    color:white;
    background-color:#343A3F;
    text-decoration: none;
  }
  
  .mint {
    width: 10%;
    border: none;
    font-size:27px;
    padding:4px;
    border-radius:10px;
    margin-bottom:10px;
    transition: all 0.2s;
    background-color: #D84240;
  }
  
  .mint:hover {
    color:white;
    background-color:#343A3F;
    text-decoration: none;
  }
}

@media (max-width: 767px) {

  #account {
    border-radius: 30px;
    padding: 10px;
    color: black;
    background-color: #D84341;
    display:block;
    margin-right:5px;
    font-family: "Teko", sans-serif;
    width:255px;
    font-size:17px;
    box-shadow: 1px 4px 5px #D84341;
    display:none;
  }
  
  #account-short {
              
    border-radius: 30px;
    padding: 10px;
    color: black;
    background-color: #D84341;
    display:none;
    font-family: "Teko", sans-serif;
    font-size:17px;
    box-shadow: 1px 4px 5px #D84341;
    display: block;
  }

  .nav-button {
    display:inline-block;
    padding:6px;
    margin:0 0.3em 0.3em 0;
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    font-size:15px;
    color:black;
    box-shadow: 1px 4px 5px #D84341;
    background-color:#D84341;
    text-align:center;
    transition: all 0.2s;
    font-family: "Teko", sans-serif;
  }
  .purchase {
    width: 55%;
    border: none;
    font-size:27px;
    padding:4px;
    border-radius:10px;
    margin-bottom:10px;
    transition: all 0.2s;
  }
  
  .purchase-disabled {
    width: 55%;
    padding:4px;
    border: none;
    font-size:27px;
    border-radius:10px;
    transition: all 0.2s;
    margin-bottom:10px;
  }
  
  .purchase:hover {
    color:white;
    background-color:#343A3F;
    text-decoration: none;
  }
  
  .mint {
    width: 55%;
    border: none;
    font-size:27px;
    padding:4px;
    border-radius:10px;
    margin-bottom:10px;
    transition: all 0.2s;
    background-color: #D84240;
  }
  
  .mint:hover {
    color:white;
    background-color:#343A3F;
    text-decoration: none;
  }
}

.product {
  background-color:white;
  border: 1px solid black;
  width:30%;
  border-radius:5px;
  padding:10px;
  margin: 0 auto;
  margin-top:20px;
}

#products {
  display: flex;
  flex-wrap: wrap;
}

#user-info {
  position: absolute;
  top: 18%;
  right: 0%;
  display: flex;
  flex-wrap: wrap;
}

.nav-button:hover {
  color:#000000;
  background-color:white;
  text-decoration: none;
  box-shadow: 1px 4px 5px white;
}

#no-products {
  margin: 0 auto;
  margin-top:18%;
}


#receive {
  margin-top:20px;
}

.productImage {
  width:400px;
  height:250px;
}

.nft {
  padding:15px;
  border-radius:10px;
  width:370px;
  margin:40px;
  height:10%;
  background-color: #343A3F;
  box-shadow: 1px 4px 14px #343A3F;
}

.nfts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.ipfs-image {
  width:95%;
  height:250px;
  border-radius:10px;
  border: 5px solid black;
}

.nft-info {
  font-size:24px;
}



.change-button {
  width: 20%;
  border: none;
  font-size:27px;
  padding:4px;
  border-radius:10px;
  margin-bottom:10px;
  transition: all 0.2s;
  background-color: #D84240;
}

.change-button:hover {
  color:white;
  background-color:#343A3F;
  text-decoration: none;
}


.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -76px 0 0 -76px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #D84240;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#desc {
  margin-top:20px;
}

#thunder-man {
  position: fixed; 
  bottom: 0px; 
  left: 0px;
  z-index:-100;
}

#no-nfts {
  padding: 25% 0;
  font-size:50px;
  text-align: center;
  font-family: "Teko", sans-serif;
}

.white-box {
  background-color: #D84241;
  border-radius:10px;
  padding:20px;
}

.change {
  width: 20%;
  border: 5px solid black;
  font-size:27px;
  padding:4px;
  border-radius:10px;
  margin-bottom:10px;
  transition: all 0.2s;
  background-color: white;
  margin-right:5px;
}